.wrapper {
    background-color: lightblue; 
    position: relative;
    min-height: 100vh;
    background-size: auto;
    background-repeat: no-repeat; 
    background-image: url("../../assets/bg.jpg");
    background-size: cover;
}